<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Upload Image to Cloudinary</h1>

    <form action="upload" method="POST" enctype="multipart/form-data">
        <input type="text" name="title">title
        <input type="text" name="desc">desc
        <input type="text" name="price">price
         <div class="dropdown">
           <label>Category:</label>
        <select name="category" required>
            <option value="">--Select Category--</option>
            <option value="electronics">Electronics</option>
            <option value="clothing">Clothing</option>
            <option value="books">Books</option>
            <option value="furniture">Furniture</option>
        </select><br><br>



        <input type="file" name="image" accept="image/*" required>

        <button type="submit">Upload</button>
    </form>

</body>
</html>